/*Estilos gerais (texto, margem...)*/
*, *::before, *::after {box-sizing: border-box;}
*:focus {border-color: inherit!important;outline: 0!important;box-shadow: none!important;}
.linha{display: flex;}
ul, ol{list-style: none}

/*Texto*/
html {font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body {margin: 0;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left; background-color: #fff;}
p {margin-top: 0;margin-bottom: 1rem;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {margin-top: 0;margin-bottom: 0.5rem;font-weight: 450;line-height: 1.2}
h1, .h1{font-size: 1.20rem;}
h2, .h2{font-size: 1.20rem;}
h3, .h3{font-size: 1.20rem;}
h6{font-size: 1rem;}
a {color: #007bff;text-decoration: none;background-color: transparent;}

/*Títulos e subtítulos*/
.nome{font-family: cursive;}
h1.nome{color: #ff69b4e0; background-color: #dfd1d1c7; width: max-content; padding: 10px; border-bottom: 6px solid #ffb1bf; margin: 0 auto 15px auto;}
h2.subtituloBranco{color: #ff69b4; background-color: #dcd7d7; width: max-content; padding: 10px; border-left: 6px solid #ffb1bf;}
@media screen and (max-width: 450px){
	h1.nome {padding: 4px 8px}
	h2.subtituloBranco{padding: 6px 8px;}
}

/*Botões*/
.btn {display: inline-block;font-weight: 400;color: #212529;text-align: center;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-color: transparent;border: 1px solid transparent;padding: 0.375rem 0.75rem;font-size: 1rem;line-height: 1.5;border-radius: 0.25rem;}
.btnRosa{border: 1px solid pink; color: #f694a5;}
.btnRosa:hover{background-color: #ffabba; color: white; transition: all 600ms ease-out}

/*Fundos*/
.fundo-rosa{background-color: pink}

/*Outros*/
.w-100{max-width: 100%}
img {vertical-align: middle;border-style: none; max-width: 100%;}
svg {padding-bottom: 4px;overflow: hidden;vertical-align: middle;}
hr {box-sizing: content-box;height: 0;overflow: visible;margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0, 0, 0, 0.1);}

/*Menu*/
.conteudoMenu{width: 1100px; margin:  0 auto;}
.links-sociais{margin-left: auto;}
.nav {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;padding-left: 0;margin-bottom: 0;list-style: none;}
.clearfix::after {display: block;clear: both;content: "";}
#menu {background: rgba(255, 255, 255, 1);height: 50px;left: 0;line-height: 50px;position: fixed;right: 0;top: 0;border-bottom: 2px solid #ffb1bf; opacity: 1; z-index: 3;}
.logo {margin: 0;position: absolute;top: -1px;}
.logo a{color: hotpink;font-family: cursive; font-size: 1.1rem; font-weight: lighter;}
#colapsar {display: none;margin-top: 10px!important;float: right; cursor: pointer;background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='black' stroke-width='4' stroke-linecap='roun' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");border: none!important;}
.nav {margin: 0 0 0 90px;}
.nav a {color: #4a4d4d;margin: 0 0 0 40px;top: 1px;}
.nav a:hover {color: #3d3d3d;}
.nav .item-links-sociais {display: inline-block;margin-left: 10px;vertical-align: middle;top: -1px;}
.nav .links-do-menu svg{width: 20px; height: 24px;}
.item-links-sociais:hover {opacity: 0.4;}

/*Secções*/
section{width: 1100px; margin:  0 auto;}

/*Motivo*/
.motivos{
	display: flex;
	margin-top:  30px;
	margin-bottom: 30px;
	justify-content: center;
}
.motivo{
	width: calc(100% / 4);
	padding: 10px;
}
.motivo p,
.motivo h3{
	text-align: center;
}
.motivo span{margin:  0 auto}
.motivo svg{fill: #ffb1bf; width: 20px;}
.motivo h3{color: hotpink;}
.ok{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='lightpink' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e"); display: block; width: 30px; height: 28px;}

/*Posts*/
.posts{
	margin: 30px auto 30px auto;
}
.post{
	display: block;
	width: 540px;
	margin: 0 10px;
}
figure{background-color: pink; padding: 1px 1px 0 1px; margin: 0 0 20px 0; width: max-content; max-width: 100%; box-shadow: 1px 1px 5px #aaa7a7;}
figcaption{font-family: cursive; text-align: center; padding: 3px; font-size: 1.1rem;}

@media (min-width: 400px){
	.post p{text-align: justify;}
}
.creditos span{font-size: 12px}
.creditos svg{width: 12px}

/*Rodapé*/
.seccao{width: 275px;padding: 0 10px;}
#rodape .centralizar{width: 1100px; margin:  0 auto;}
#rodape .topo-do-rodape .rodapeSocial{text-align: end;}
#rodape .topo-do-rodape {background: #111;padding: 60px 0 30px 0; color: #eee;}
#rodape .topo-do-rodape .informacoes-do-rodape {margin-bottom: 30px;}
#rodape .topo-do-rodape .informacoes-do-rodape h3 {margin: 0 0 20px 0;padding: 2px 0 2px 10px;line-height: 1;letter-spacing: 1px;border-left: 4px solid #fbabb9; color: #ffb1bf}
#rodape .topo-do-rodape .informacoes-do-rodape p {font-size: 15px;line-height: 24px;margin-bottom: 0;color: #eee;}
#rodape .topo-do-rodape h4 {font-size: 14px;color: #fff;text-transform: uppercase;position: relative;padding-bottom: 12px;}
#rodape .topo-do-rodape h4::before,
#rodape .topo-do-rodape h4::after {content: '';position: absolute;left: 0;bottom: 0;height: 2px;}
#rodape .topo-do-rodape h4::before {right: 0;background: #555;}
#rodape .topo-do-rodape h4::after {background: pink;width: 60px;}
#rodape .topo-do-rodape .links-do-rodape {margin-bottom: 30px;}
#rodape .topo-do-rodape .links-do-rodape ul {list-style: none;padding: 0;margin: 0;}
#rodape .topo-do-rodape .links-do-rodape ul li {border-bottom: 1px solid #333;padding: 10px 0;}
#rodape .topo-do-rodape .links-do-rodape ul li:first-child {padding-top: 0;}
#rodape .topo-do-rodape .links-do-rodape ul a {color: #eee;}
#rodape .topo-do-rodape .links-do-rodape ul a:hover {color: #fbabb9;}
#rodape .copy{text-align: center; font-size: 15px; border-top: 1px solid white; color: #eee;}